html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, var,dl, dd, dt, ul, ol, li,
fieldset, form, table, caption, tbody,
tfoot, thead, tr, th, td, header, section,
footer, article, details
{padding: 0; margin: 0; border: 0; outline: 0;
font-family: inherit; font-style: inherit;
font-size:100%; font-weight: inherit; vertical-align: baseline;
}

body {
  background-color; white;
}

#txt {
  position: fixed;
 display:block;
 padding-top: 2rem;
 background-color: #000000;
}

.text {
  text-align: left;
  font-size: 2rem;
  color:#ffffff;
  font-family: futura;
  padding-left: 2rem;
}

.desc {
  text-align: right;
  font-size: 2rem;
  color: #ffffff;
  font-family: futura;
  padding-right: 2rem;
  margin-top: -2.5rem;
  padding-bottom:2rem;
}

